@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");

:root {
  --dutch-white-100: #fcf9f2;
  --dutch-white-200: #faf4e4;
  --dutch-white-300: #f7eed7;
  --dutch-white-400: #f5e9c9;
  --dutch-white-500: #f2e3bc;

  --soft-purple-100: #efedf4;
  --soft-purple-200: #dedce9;
  --soft-purple-300: #cecadf;
  --soft-purple-400: #bdb9d4;
  --soft-purple-500: #ada7c9;

  --soft-pink-100: #fce9f3;
  --soft-pink-200: #f8d3e7;
  --soft-pink-300: #f5beda;
  --soft-pink-400: #f1a8ce;
  --soft-pink-500: #ee92c2;

  --blue-green-100: #b3f4fe;
  --blue-green-200: #68e9fd;
  --blue-green-300: #1cdefb;
  --blue-green-400: #03aec8;
  --blue-green-500: #026c7c;

  --dark-100: #821166;
  --dark-200: #6d0e55;
  --dark-300: #570b44;
  --dark-400: #420933;
  --dark-500: #170312;

  background: hsla(315, 77%, 5%, 1);

  background: linear-gradient(
    90deg,
    hsla(315, 77%, 5%, 1) 0%,
    hsla(188, 97%, 25%, 1) 47%,
    hsla(328, 73%, 90%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(315, 77%, 5%, 1) 0%,
    hsla(188, 97%, 25%, 1) 47%,
    hsla(328, 73%, 90%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(315, 77%, 5%, 1) 0%,
    hsla(188, 97%, 25%, 1) 47%,
    hsla(328, 73%, 90%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#170312", endColorstr="#026C7C", GradientType=1 );

  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: fit-content;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  padding: 1.25em;
  font-size: 1.25em;
  color: var(--dutch-white-200);
}

.font-logo {
  font-family: "Inconsolata", monospace;
  text-decoration: none;
  font-size: 4em;
  color: var(--blue-green-500);
  transition: all;
  transition-duration: 300ms;
}

.font-logo:hover {
  color: var(--dark-300);
}

.header {
  padding-left: 1rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 2rem;
  color: var(--dark-400);
}

.anime-container {
  position: relative;
  width: fit-content;
  margin: 0 auto 2rem;
}

.anime-container:hover .anime-title {
  color: var(--soft-purple-300);
}

.anime-title {
  color: var(--dutch-white-100);
  text-decoration: none;
  font-size: 1.5rem;
  opacity: 1;
  transition: all;
  transition-duration: 300ms;
}

.anime-title-wrapper {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    rgb(23, 3, 18, 0.6),
    rgb(23, 3, 18, 0)
  );
  width: max-content;
  padding-left: 1rem;
  padding-right: 10rem;
  border-radius: 0 0 10px 10px;
}

.anime-img {
  width: 900px;
  border-radius: 0 0 10px 10px;
}

.page-container {
  position: relative;
}

.btns-container {
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 900px;
  background: rgb(130, 17, 102, 0.75);
}

.next-btn,
.prev-btn {
  margin: 0 1rem;
  cursor: pointer;
  background: none;
  border-width: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--dutch-white-100);
}

.next-btn:hover,
.prev-btn:hover {
  /* background: rgb(250, 244, 228, 1); */
  transition: all;
  transition-duration: 300ms;
  color: var(--soft-purple-300);
}

.prev-btn {
  margin-right: auto;
}

.next-btn {
  margin-left: auto;
}

@media only screen and (max-width: 900px) {
  .anime-img, .btns-container {
    width: 100% !important;
  }

  .anime-title-wrapper {
    text-overflow: ellipsis;
  }

  .page-container {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .anime-container > .anime-title-wrapper > .anime-title {
    text-overflow: ellipsis;
  }
}