@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");

:root {
  --off-white-100: #fcfdef;
  --off-white-200: #f7f8ce;
  --off-white-300: #f7f8ce;
  --off-white-400: #f5f5be;
  --off-white-500: #F2F3AE;

  --soft-blue-100: #cbeff4;
  --soft-blue-200: #98deea;
  --soft-blue-300: #64cedf;
  --soft-blue-400: #30bdd4;
  --soft-blue-500: #2292A4;

  --slate-100: #bcc8ce;
  --slate-200: #bcc8ce;
  --slate-300: #9bacb5;
  --slate-400: #79909c;
  --slate-500: #5D737E;

  --deep-red-100: #fac1be;
  --deep-red-200: #f4847d;
  --deep-red-300: #ef463c;
  --deep-red-400: #d31d11;
  --deep-red-500: #92140C;

  --dark-100: #c3dacf;
  --dark-200: #88b59e;
  --dark-300: #54876e;
  --dark-400: #2f4c3d;
  --dark-500: #0A100D;

  background: var(--dark-500);

  background: linear-gradient(
    90deg,
    var(--soft-blue-500) 0%,
    var(--soft-blue-200) 47%,
    var(--soft-blue-100) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    var(--soft-blue-500) 0%,
    var(--soft-blue-200) 47%,
    var(--soft-blue-100) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    var(--soft-blue-500) 0%,
    var(--soft-blue-200) 47%,
    var(--soft-blue-100) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#170312", endColorstr="#026C7C", GradientType=1 );

  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: fit-content;
}

* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
display: none;  /* Safari and Chrome */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  all: unset;
  cursor: pointer;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  padding: 1.25em;
  font-size: 1.25em;
  color: var(--off-white-100);
}

.font-logo {
  display: flex;
  justify-content: start;
  margin-right: auto;
  font-family: "Inconsolata", monospace;
  text-decoration: none;
  font-size: 4em;
  color: var(--blue-green-500);
  transition: all;
  transition-duration: 300ms;
}

.font-logo:hover {
  color: var(--off-white-100);
}

.header {
  padding-left: 1rem;
  display: flex;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: end;
  margin-left: auto;
  margin-right: 1.5rem;
}

.nav-btn {
  margin: 0 .4rem;
  text-decoration: none;
  font-size: 1.25em;
  color: var(--blue-green-500);
  transition: all;
  transition-duration: 300ms;
}

.nav-btn:hover {
  color: var(--off-white-100);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 2rem;
  color: var(--off-white-100);
}


.anime-container {
  position: relative;
  width: fit-content;
  margin: 0 auto 2rem;
}

.anime-container-top-border {
  border-radius: 10px;
}
.anime-container:hover .anime-title {
  color: var(--soft-blue-200);
}

.anime-title {
  color: var(--off-white-100);
  text-decoration: none;
  font-size: 1.5rem;
  opacity: 1;
  transition: all;
  transition-duration: 300ms;
}

.anime-title-wrapper {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    rgb(23, 3, 18, 0.6),
    rgb(23, 3, 18, 0)
  );
  width: max-content;
  margin-left: .25rem;
  margin-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 10rem;
  border-radius: 0 0 10px 10px;
}

.anime-img {
  width: 900px;
  border-radius: 0 0 10px 10px;
  border-width: 0 .25rem .25rem .25rem;
  border-style: solid;
  border-color: var(--off-white-100);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.4);
}

.anime-img-top-border {
  border-radius: 10px;
  border-width: .25rem;
  border-color: var(--off-white-100);
}

.page-container {
  position: relative;
}

.btns-container {
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 900px;
  background: var(--deep-red-500);
  border-width: .25rem .25rem 0 .25rem;
  border-style: solid;
  border-color: var(--off-white-100);
}

.btns-container-bottom {
  border-width: .25rem;
  border-radius: 0 0 10px 10px;
}

.next-btn,
.prev-btn {
  margin: 0 1rem;
  cursor: pointer;
  background: none;
  border-width: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--off-white-100);
  transition: all;
  transition-duration: 300ms;
}

.next-btn:hover,
.prev-btn:hover {
  transition: all;
  transition-duration: 300ms;
  color: var(--soft-blue-100);
}

.prev-btn {
  margin-right: auto;
}

.next-btn {
  margin-left: auto;
}

.search-bar {
  width: 60%;
  margin: .5rem 0;
}

.single-page-container {
  display: fit-content;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

.single-anime-border {
}

.single-anime-container {
  display: flex;
}

.single-anime-img {
  max-width: 400px;
  border-radius: .5rem;
  margin-left: 1rem;
  border-width: .15rem;
  border-style: solid;
  border-color: var(--soft-blue-100);
  /* box-shadow: 0 25px 50px -12px rgba(254, 254, 254, 0.4); */

}

.single-description-container {
  margin: 0 2rem;
}

.single-description-card {
  color: var(--off-white-100);
  position: relative;
  padding: 1rem;
  background: var(--soft-blue-500);
  border-radius: .5rem;

  background: linear-gradient(
    90deg,
    var(--deep-red-500) 47%,
    var(--deep-red-500) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    var(--deep-red-500) 47%,
    var(--deep-red-500) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    var(--deep-red-500) 47%,
    var(--deep-red-500) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#170312", endColorstr="#026C7C", GradientType=1 );
}

.youtube-trailer {
  display: flex;
  justify-content: center;
}

.fave-watch-later {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
}
.fave-watch-later button {
  margin-right: 1rem;
}

.unselected {
  color: rgb(150, 147, 147);
  transition: all;
  transition-duration: 300ms;
}

.star-selected {
  color: #FFD700;
}


.heart-selected {
  color: var(--deep-red-300);
}

.fave-wl-btn {
  width: fit-content;
  padding: .25rem;
  border-radius: .25rem;
  transition: all;
  transition-duration: 300ms;
}

.fave-wl-btn:hover {
  /* font-size: 1.05rem; */
  color: var(--soft-blue-100);
}

.login-signup-container {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background: var(--soft-blue-500);
  border-radius: .5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background: linear-gradient(
    90deg,
    #6d0f09 7%,
    var(--deep-red-500) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    #6d0f09 7%,
    var(--deep-red-500) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    #6d0f09 7%,
    var(--deep-red-500) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#170312", endColorstr="#026C7C", GradientType=1 );
}

.login-signup-container h4 {
  color: var(--off-white-100);
  font-size: 1.25rem;
}

.login-signup-flex {
  display: flex;
  flex-direction: column;
}

.login-signup-flex input, textarea {
  margin-bottom: .75rem;
  padding: .25rem;
  border-radius: .25rem;
  border-color: #3ce3fd;
}

.login-signup-flex input:focus {
  outline: none;
}

.login-signup-flex a {
  color: var(--off-white-100);
  margin-bottom: 1rem;
  text-decoration: none;
  transition: all;
  transition-duration: 300ms;
}

.login-signup-flex a:hover {
  color: var(--soft-blue-100);
}

.submit {
  all: unset;
  cursor: pointer;
  color: #5c0f09;
  background: var(--off-white-100);
  width: fit-content;
  margin: 0 auto;
  padding: .25rem;
  border-radius: .25rem;
  transition: all;
  transition-duration: 300ms;
}

.submit:hover {
  background: var(--soft-blue-100);
  color: #6d0f09;
}

.profile-container {
  margin: 0 2rem;
  width: max-content;
}

.profile-header {
  color: var(--off-white-100);
  font-family: "Inconsolata", monospace;
  font-weight: semibold;
}

.content-container {
  display: flex;
  overflow-x: scroll;
  overflow: scroll;
  scroll-behavior: smooth;
  position: relative;
  width: 100vw;
  /* white-space: nowrap; */
}

.content-card:hover .anime-title {
  color: var(--soft-blue-200);
  width: fit-content;
}

.content-card {
  margin-right: 1rem;
}

.page {
  margin-bottom: 3rem;
}

.review-container {
  width: 200px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  background: var(--soft-blue-500);
  border-radius: .5rem;

  background: linear-gradient(
    90deg,
    var(--soft-blue-400) 47%,
    var(--soft-blue-200) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    var(--soft-blue-400) 47%,
    var(--soft-blue-200) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    var(--soft-blue-400) 47%,
    var(--soft-blue-200) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#170312", endColorstr="#026C7C", GradientType=1 );
}


@media only screen and (max-width: 900px) {
  .anime-img, .btns-container {
    width: 100% !important;
  }

  .anime-title-wrapper {
    /* text-overflow: ellipsis; */
    /* overflow-x: hidden;
    overflow-y: scroll; */
  }

  .page-container {
    overflow-x: hidden;
    text-overflow: ellipsis;
    overflow-y: scroll;
  }

  .anime-title {
    text-overflow: ellipsis;
  }
}